@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("./assets/Inter-Light.woff2") format("woff2");
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./assets/Inter-Regular.woff2") format("woff2");
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./assets/Inter-Bold.woff2") format("woff2");
}
@font-face {
  font-family: Hack;
  src: url("./assets/hack-bold-subset.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

:root {
  --size-10: 0.625rem;
  --size-20: 1.25rem;
  --size-30: 1.875rem;
  --size-40: 2.5rem;
  --thickness-4: 4px;
  --thickness-2: 2px;
  --corner-10: var(--size-10);
  --color-background-00: #2c2e2c;
  --color-background-01: #64eb6412;
  --color-contrast-10: #fff;
  --color-contrast-08: #b9cfbd;
  --color-contrast-07: #a3b7a7;
  --font-main: Inter, sans-serif;
  --font-mono: Hack, monospace;

  font-family: var(--font-main);
  background-color: var(--color-background-00);
  background-image: radial-gradient(
    ellipse at top,
    var(--color-background-01) 50%,
    transparent
  );
  color: var(--color-contrast-08);

  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: var(--size-40);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .main-wrapper {} */

.layout-stopped {
  display: flex;
  flex-direction: column;
  gap: var(--size-40);

  .running > & {
    display: none;
  }
}

.input-label {
  display: flex;
  flex-direction: column;
  gap: var(--size-20);
  font-weight: 300;

  input {
    padding: var(--size-10);
    border: var(--thickness-4) solid var(--color-contrast-10);
    border-radius: var(--corner-10);
    background-color: transparent;
    color: var(--color-contrast-08);
    font-size: var(--size-20);
    font-family: var(--font-main);
  }
}

.layout-running {
  display: none;

  .running > & {
    display: flex;
    flex-direction: column;
    gap: var(--size-40);
  }
}

.timer {
  font-family: var(--font-mono);
  font-size: var(--size-40);
  font-weight: 700;
  text-align: center;
  margin: 0;
}

.total-timer {
  font-size: var(--size-30);
  color: var(--color-contrast-07);
}

.control-button {
  align-self: center;
  flex: 1 0 0;
  background-color: var(--color-contrast-08);
  color: var(--color-background-00);
  border-radius: var(--corner-10);
  font-size: var(--size-20);
  font-family: var(--font-main);
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  padding: var(--size-20);
}

/* 
.lap-timer {}
.start {}
.stop {}
*/
